<app-main-bar></app-main-bar>
<div id="content">
    <div id="sideMenu" class="collapse show">
        <ul class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action" href="javascript:void(0);"
                [routerLink]="['daily-survey-progress']" routerLinkActive="active">
                Daily Survey Progress
            </a>
            <a class="list-group-item list-group-item-action" href="javascript:void(0);" 
                [routerLink]="['project-details']" routerLinkActive="active">
                Project Details
            </a>
            <!-- <a class="list-group-item list-group-item-action bg-dark text-white" href="javascript:void(0);">
                Subsidy File Download
            </a> -->
        </ul>
    </div>
    <div id="mainMenu">
        <router-outlet></router-outlet>
    </div>
</div>