<nav class="navbar text-white" style="background-color: #217292;">
    <div class="container-fluid d-flex justify-content-between">
      <span class="navbar-text">
        PMS - PROJECT MANAGEMENT SYSTEM 
      </span>
      <!-- <div>
        <div class="dropdown">
          <button class="badge rounded-pill bg-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{userObject.user.name}}
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="javascript:void(0)" (click)="logoutclicked()">Logout</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" (click)="changePasswordClicked()">Change Password</a></li>
          </ul>
        </div>
          <small class="text-light">
            Session Timer: <dbt-session-timer></dbt-session-timer>
          </small>
      </div> -->
    </div>
</nav>